<div *ngIf="employer">
  {{employer.jobTitle}}
  <!-- <input matInput [(ngModel)]="employer.jobTitle" placeholder="Job title"> -->
  <mat-form-field>
    <mat-select placeholder="Favorite food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="employer.jobTitle" placeholder="Job title">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="employer.company " placeholder="Company ">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="employer.description" placeholder="Description">
  </mat-form-field>
</div>
<button (click)="goBack() ">go back</button>
<button (click)="save() ">save</button>
