#curriculum {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "profile"
    "employer"
    "skill"
    "certification"
    "proficiency"
    "academic"
    "algomas";
}
#curriculum app-profile {
  grid-area: profile;
  background-color: aqua;
}

#curriculum app-employer {
  grid-area: employer;
  background-color: chocolate;
}

#curriculum .skill {
  grid-area: skill;
  background-color: crimson;
}

#curriculum .certification {
  grid-area: certification;
  background-color: blueviolet;
}

#curriculum .proficiency {
  grid-area: proficiency;
  background-color: steelblue;
}

#curriculum .academic {
  grid-area: academic;
  background-color: seagreen;
}

#curriculum .algomas {
  grid-area: algomas;
  background-color: darkslategrey;
}
