<!-- [class.selected]="employer === selectedEmployer" (click)="onSelect(employer)" -->
<div *ngFor="let employer of employers">
  <div class="card" style="width: 100%; margin-top: 10px">
    <div class="card-body">
      <p class="card-title">
        <span>{{employer.jobTitle}} </span>
        <span class="period">{{employer.period.start}}-{{employer.period.end}}</span>
      </p>
      <h6 class="card-subtitle mb-2 text-muted">{{employer.company}}</h6>
      <p class="card-text">{{employer.description}}</p>
    </div>
  </div>
</div>
<app-message></app-message>
<div>
  <label>Employer name:
    <input #employerName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(); employerName.value=''">
    add
  </button>
</div>
